/*Основной цвет текста color: #757575;  */
/* Цвет текста #212121 */
/* Фон навигации, заголовок, карточки, адрес #FFFFFF */
/* Инфа футера rgba(255, 255, 255, 0.6); */
/* Фон секции услуги #E5E5E5 */
/* Фон секции команда #F5F4FA */
/* Фон секции кнопка, футер #2F303A */
/* Акцент #2196F3 */
body {
  background-color: #fff;
  color: #757575;
}

.list {
  list-style: none;
}

a {
  text-decoration: none;
  color: #212121;
}

.logo {
  color: #212121;
}

.logo-colored {
  color: #2196f3;
}
